<h2> Login </h2>
<form action="/sessions" method="post">
  <label>
    username
    <input type="text" name="user_name" value="<%= params[:user_name] %>" autofocus>
  </label>
  <input type="submit" value="Login">

</form>