<form action="/gists" method="POST" class='well'>
  <label>
    Title:
    <input class="gist-input" type="text" name="gist[title]" id="gist-title">
  </label>
  <br>
  <label>
    Tags:
  </label>
  <span id='gist-tags'>
  </span>
  <br>
  <a class="body-add-btn btn btn-mini">add body</a>
  <div id='gist-files'>
  </div>

  <input type="submit" value="Submit" id="gist-submit" class='btn'>
</form>